@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(135deg, #031926, #000000, #228b22, #fec400, #134e5e, #800020, #4169e1);
  background-size: 200% 200%;
  animation: gradientBG 60s linear infinite;
}

